* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-style: solid;
    border-width: 5px 10px;
    border-image: linear-gradient(to right, blue, red) 1;
}
canvas{
    border: rgba(255, 0, 0, 0.2) solid 12px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }